{{ define "schema-dot-org" }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Blog",
  "headline": {{ substr .Site.Title 0 110 }},
  "url" : {{ printf "%s" .Permalink }},
  "author": {
    "@type": "Person",
    "name": {{ .Site.Params.author }}
  },
  {{- $ISO8601 := "2006-01-02T15:04:05-07:00" }}
  {{- if not .Date.IsZero }}
    "dateModified": {{ .Date.Format $ISO8601 }},
  {{- end }}
  "keywords": {{ range $plural, $terms := .Site.Taxonomies }}
    {{ range $term, $val := $terms }}
      {{ printf "%s," $term }}
    {{ end }}
  {{ end }}
  {{- with .Site.Params.description -}}
    ,
    "description": {{- . -}}
  {{- end }}
}
</script>
{{ end }}

{{ define "main" }}
  {{ $paginator := .Paginate (where .Site.RegularPages "Section" "in" .Site.Params.mainSections) }}
  {{ range $paginator.Pages }}
    {{ .Render "summary" }}
  {{ end }}

  {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
    {{ partial "pagination.html" . }}
  {{ end }}
{{ end }}
