$spacer: 1rem;

$yellow: #f7a21b;
$lightGrey: #bcbebf;
$darkGrey: #1f2327;
$darkestGrey: #15191d;
$lightBlue: #9dbbd9;
$lightRed: #e9603f;
$red: #e45635;
$headerShadow: #dc4328;  
$footerShadow: #1e242a;
$footerLightBg: #2e353c;
$footerDarkBg: #242b32;
$breakoutBg: #1f2327;
$breakoutBorderBg: #292d31;

$serifFont: 'Source Serif Pro', serif;
$eightBitFont: 'Press Start 2P', monospace;

html {
  font-size: 18px;
  font-family: $serifFont;
}

body {
  color: $lightBlue;
  background-color: $darkGrey;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1,h2,h3,h4,h5,h6 { color: #FFF; }
a:hover { text-decoration: none; }

.container {
  margin: 0 auto;
  width: 1000px;
}

header.blog-header {
  font-family: $eightBitFont;
  background: $lightRed;
  font-smooth: never;
  -webkit-font-smoothing : none;

  .container {
    padding-top: 1rem;
    display: flex;
    background: $red;

    .logo {
      margin-right: 2rem;
      flex-grow: 5;
      min-height: 426px;
      min-width: 500px;
      margin-left: -188px;
      background: url(/images/cat-logo.png) no-repeat;
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 1.25rem;
      flex-grow: 7;
      text-shadow: 0 0.2rem 0 $headerShadow;
      color: $yellow;
      transform: scale(1,1.1);

      h1 {
        margin-bottom: 1rem;
        font-family: $eightBitFont;
        small { color: $darkestGrey; }
      }
    }

    nav {
      margin-left: auto;
      margin-right: 1rem;
      font-size: 0.8rem;

      a {
        display: inline-block;
        padding-bottom: 0.5rem;
        text-shadow: 0 0.1rem 0 $headerShadow;
        color: $darkestGrey;
        margin: 0 0.2rem;
        transform: scale(1,1.1);

        &.active { border-bottom: 0.6rem solid $darkestGrey; }
        &:hover { color: darken($lightBlue, 50%); }
      }
    }
  }
}

section.body {
  display: flex;
  flex-grow: 2;
  min-height: 50vh;

  .container {
    display: flex;
    background: $darkestGrey;
    .blog-main { flex-grow: 7; }
    .blog-sidebar { flex-grow: 5; }
  }
}

aside.blog-sidebar {
  padding: 3rem 0 5rem;
  max-width: 40%;

  h2 {
    font-weight: 100;
  }

  section {
    padding: 0.25rem 0.5rem 0.5rem;
    background: $breakoutBg;
    box-shadow: 0 0.5rem 0 rgba(0,0,0,0.1);
    margin: 1rem -0.5rem 0.5rem 0;
    border-right: 0.5rem $breakoutBorderBg solid;
  }

  .social-icons {
    text-align: center;
    font-size: 3rem;

    a {
      display: inline-block;
      margin: 0 0.5rem;
      color: #FFF;

      &:hover { color: $yellow; }
    }
  }

}

section.tags {
  nav {
    font-variant: small-caps;
    flex-direction: column;

    a {
      padding: 0.125rem 0;
      min-width: 48%;
      display: inline-block;
      color: $yellow;

      span { 
        display: inline-block;
        margin-right: auto;
        text-align: right;
        padding-left: 0.125rem;
        color: $lightBlue;
        opacity: 0.5;
      }
    }
  }
}

footer {
  display: flex;
  flex-grow: 1;
  max-height: 10rem;
  background: $footerLightBg;
  font-weight: 600;
  /* font-family: $eightBitFont;
  font-smooth: never;
  -webkit-font-smoothing : none; */

  .container {
    background: $footerDarkBg;
    display: flex;
    justify-content: center;

    .logo {
      width: 80px;
      margin-right: 3rem;
      background: url(/images/footer-logo.png) no-repeat bottom;
    }

    nav {
      a {
        display: inline-block;
        padding-bottom: 1.25rem;
        margin: 2rem 0.25rem 0;
        color: $lightGrey;
        text-shadow: 0 0.25rem 0 $footerShadow;

        &.active { border-bottom: 0.5em $lightGrey solid; }
        &:hover { color: #FFF; }
      }
    }
  }
}