html {
  font-size: 18px;
  font-family: $serifFont;
}

body {
  color: $lightBlue;
  background-color: $darkGrey;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1,h2,h3,h4,h5,h6 { color: #FFF; }

a{
  color: $yellow;

  &:hover {
    color: lighten($yellow, 20%);
    text-decoration: none;
  }
}

hr {
  border: 0;
}