$spacer: 1rem;

$yellow: #f7a21b;
$lightGrey: #bcbebf;
$darkGrey: #1f2327;
$darkestGrey: #15191d;
$lightBlue: #9dbbd9;
$lightRed: #e9603f;
$red: #e45635;
$headerShadow: #dc4328;  
$footerShadow: #1e242a;
$footerLightBg: #2e353c;
$footerDarkBg: #242b32;
$breakoutBg: #1f2327;
$breakoutBorderBg: #292d31;

$serifFont: 'Source Serif Pro', serif;
$eightBitFont: 'Press Start 2P', monospace;

@import 'source/scss/bootstrap';
@import 'source/scss/layout';
@import 'source/scss/main';
@import 'source/scss/header';
@import 'source/scss/sidebar';
@import 'source/scss/content';