<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "html-head-content.html" . }}
  </head>

  <body>
    {{ block "header" . }}
      {{ partial "default-header.html" . }}
    {{ end }}

    {{ block "body" . }}
      <section class="body">
        <div class="container">
          <section class="blog-main">
            {{ block "main" . }}
            {{ end }}
          </section>

          <aside class="blog-sidebar">
            {{ block "sidebar" . }}
              {{ partial "default-sidebar.html" . }}
            {{ end }}
          </aside> 
        </div>
      </section>
    {{ end }}

    {{ block "footer" . }}
      {{ partial "default-footer.html" . }}
    {{ end }}
  </body>
</html>