<section class="live-streams">
  <h2>Live Streams</h2>
  {{ partial "embedded-twitch.html" . }}
</section>

<section class="community">
  <h2>Join the Community!</h2>

  <nav class="social-icons">
    <a href="https://www.youtube.com/channel/UCVQ2Rt-GlX3ptQ94GUtulmQ">
      <i class="fab fa-youtube"></i>
    </a>

    <a href="https://twitter.com/_SebTheCat_">
      <i class="fab fa-twitter"></i>
    </a>

    <a href="https://www.twitch.tv/sebthecat_com">
      <i class="fab fa-twitch"></i>
    </a>

    <a href="https://discord.gg/K8chdpq">
      <i class="fab fb-discord"></i>
    </a>
  </nav>
</section>

<section class="tags">
  <h2>Popular Topics</h2>
  {{ partial "tag-menu" . }}
</section>