<header class="blog-header">
  <div class="container">
    <div class="logo">
      <a href="{{ .Site.BaseURL | absURL }}" rel="home" title="SebTheCat.com">
      </a>
    </div>

    <div class="content">
      <a href="{{ .Site.BaseURL | absURL }}" rel="home" title="SebTheCat.com">
        <h1>SebTheCat<small>.com</small></h1>
      <a>

      <a href="{{ .Site.BaseURL | absURL }}" class="lead blog-description" rel="home" title="SebTheCat.com">
        Streamer. Game developer. Software engineer. Cat.
      </a>
    </div>
  </div>

  <div class="container">
    {{ partial "main-nav.html" . }}
  </div>
</header>