<section class="live-streams">
  <h2>Live Streams</h2>
  {{ partial "embedded-twitch.html" . }}
</section>

<section class="community">
  <h2>Join the Community!</h2>

  <nav class="social-icons">
    <a href="https://www.youtube.com/channel/UCVQ2Rt-GlX3ptQ94GUtulmQ">
      <img src="/fontawesome/youtube.svg" />
    </a>

    <a href="https://twitter.com/_SebTheCat_">
      <img src="/fontawesome/twitter.svg" />
    </a>

    <a href="https://www.twitch.tv/sebthecat_com">
      <img src="/fontawesome/twitch.svg" />
    </a>

    <a href="https://discord.gg/K8chdpq">
      <img src="/fontawesome/discord.svg" />
    </a>
  </nav>
</section>

<section class="tags">
  <h2>Popular Topics</h2>
  {{ partial "tag-menu" . }}
</section>

<section class="recent-posts">
  <h2>Recent Posts</h2>
  
  {{ $num_recent_posts := (index .Site.Params.sidebar "num_recent_posts" | default 5) }}
  {{ range first $num_recent_posts (where .Site.RegularPages "Section" "in" .Site.Params.mainSections) }}
    <summary class="recent-post">
      <a href="{{.RelPermalink}}">
        {{.Title | markdownify }}
      </a>
      <div class="blog-post-meta">
        {{ partial "meta-terms.html" . }}
      </div>
    </summary>      
  {{ end }}
</section>